@import 'general/navs.css';
@import 'general/card.css';
@import 'general/page.css';

@import 'pages/about.css';
@import 'pages/skills.css';
@import 'pages/contacts.css';


/* Copyright */
/* 
    All photos are mine except: 

        those named pexels-(name) from:
            (https://www.pexels.com/).

        The 2 WWU photos are from: 
            https://www.timeshighereducation.com/sites/default/files/institution/header_image/header_2_0.jpg
            https://admissions.wwu.edu/files/2021-03/24112634383_66c01be723_b.jpg 
*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
    box-sizing: border-box;
}

body{
    font-family: 'Righteous', sans-serif;
    margin: 0;
    padding: 0;
}
#wrapper{
    text-align: center;
    background-color: #051923;
    color: #CAE9FF;
}

header p{
    font-size: 1.3em;
    color: #CAE9FF;
}
h1{
    padding-top: 25vh;
    font-size: 4em;
    margin: 0;
    height: 100%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #051923;
}
h2{
    padding-top: 15vh;
    font-size: 3em;
    margin: 0;
    padding-bottom: 55px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #051923;
}

main{
    color: #CAE9FF;
}
main p{
    font-size: 1.15em;
}
main img{
    border-radius: 20%;
}

footer{
    font-size: .90em;
    text-align: center;
    line-height: 75px;
}
.date{
    font-style: italic;
    font-size: .60em;
}

.button{
    background-color: #051923;
    border-radius: 30%;
    box-shadow: 0 6px 8px #051923;
}
.button:link{
    color: #5FA8D3;
}
.button:visited{
    color: #5FA8D3;
}
.button:hover{
    color: #0582CA;
    transition: all .5s;
}

#about{
    background-image: url(../images/pexels-josh-fields-3964406.jpg);
    padding: 0 100px;
    padding-top: 10vh;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
#personal{
    background-image: url(../images/pexels-tim-mossholder-3222686.jpg);
}
#school{
    background-image: url(../images/wwu2.jpg);
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
#resume{
    background-image: url(../images/pexels-jaymantri-5412.jpg);
}
#contacts{
    background-image: url(../images/pexels-donald-tong-23273.jpg);
}

.flex-container{
    width: 90%;
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: inline-block;
    margin: 0 15px;
}
a{
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 10px;
}
svg{
    display: block;
    height: 5em;
    width: auto;
    color: #fff;
}
svg:link{
    color: #5FA8D3;
}
svg:visited{
    color: #5FA8D3;
}
svg:hover{
    color: #0582CA;
    transition: all .5s;
}