/* About */

.section{
    width: fit-content;
    margin: 0 auto;
    margin-top: 70px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

    background-color: #051923;
    border-radius: 5%;
    overflow: hidden;
}
.personal-photo{
    height: 300px;
    width: 100%;
    background-color: #CAE9FF;
    padding: 15px 20px;
}
.personal-photo img{
    height: 100%;
    width: auto;
    box-shadow: 0 6px 8px #051923;
    border-radius: 100%;
}
.section-text{
    width: 600px;
    margin: 0;
    padding: 0 30px;
}